.button--black {
  background: #303030;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  padding: 21px;
}

.button--black:hover {
  background: #505050;
  transition: all 500ms;
}

.button--black:active {
  background: #000000;
  transition: all 500ms;
}

.button--white {
  background: #ffffff;
  color: #303030;
  border: 1px solid #303030;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  padding: 21px;
}

.button--white:hover {
  background: #303030;
  color: #ffffff;
  transition: all 500ms;
}

.button--white:active {
  background: #000000;
  color: #ffffff;
  transition: all 500ms;
}

.promo__swiper-button-next,
.promo__swiper-button-prev {
  background-color: rgba(248, 248, 248, 1);
  border: 1px solid #303030;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rightArrow {
  width: 17px;
  height: 8px;
  background: url(../svg/arrSlideR.svg);
}

.leftArrow {
  width: 17px;
  height: 8px;
  background: url(../svg/arrSlideL.svg);
}

.promo__swiper-button-next:hover,
.promo__swiper-button-prev:hover {
  background-color: rgba(245, 245, 245, 1);
  transition: background-color 300ms;
}

.promo__swiper-button-next:active .rightArrow {
  transform: translateX(10px);
}

.promo__swiper-button-prev:active .leftArrow {
  transform: translateX(-10px);
}

.promo__swiper-button-prev .leftArrow,
.promo__swiper-button-next .rightArrow {
  transition: transform 0.3s ease-in-out;
}

.ellipse {
  width: 110px;
  height: 40px;
  background: #f0f0f0;
  border-radius: 21px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse:hover {
  background: #dddddd;
  color: #303030;
  transition: background 500ms;
}

.ellipse:active,
.ellipse--active {
  background: #303030;
  color: #ffffff;
  transition: all 500ms;
}

.button__sale {
  width: 50px;
  padding: 4px 12px;
  background: #5b8a8f;
  border-radius: 15px;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
}

.button__new {
  width: 50px;
  padding: 4px 12px;
  background: #495159;
  border-radius: 15px;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
}

.button__hit {
  width: 50px;
  padding: 4px 12px;
  background: #e1a661;
  border-radius: 15px;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
}

.button__discont {
  background: #e24b33;
  border-radius: 15px;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  width: 50px;
  height: 21px;
}
