body {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #303030;
}

header {
  margin-top: 24px;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  gap: 60px;
}

.header__items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-mapImg {
  background: url(../svg/maps-normal.svg);
  width: 16px;
  height: 16px;
}

.icon-arrDownImg {
  width: 9px;
  height: 9px;
  border-top: 2px solid #303030;
  border-right: 2px solid #303030;
  transform: rotate(135deg);
}

.icon-phoneImg {
  background: url(../svg/phone.svg);
  width: 16px;
  height: 16px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

.logo__title {
  font-family: "Prata";
  font-weight: 400;
  font-size: 32px;
}

.logo__title--gold {
  color: #e1a661;
}

.logo__description {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.27em;
  color: #919191;
}

.pipe {
  border: 1px solid #303030;
  height: 10px;
}

.icon-favorite {
  background: url(../svg/favorite-normal.svg);
  width: 20px;
  height: 18px;
}

.icon-favorite:hover {
  background: url(../svg/favorite-hover.svg);
}

.icon-favorite:active {
  background: url(../svg/favorite-press.svg);
}

.icon-chart {
  background: url(../svg/chart.svg);
  width: 20px;
  height: 20px;
}

.icon-bag {
  background: url(../svg/bag-normal.svg);
  width: 16px;
  height: 17px;
}

.icon-bag:hover {
  background: url(../svg/bag-hover.svg);
  width: 16px;
  height: 17px;
}

.icon-bag:active {
  background: url(../svg/bag-press.svg);
  width: 32px;
  height: 32px;
}

nav {
  background: rgba(248, 248, 248, 1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav__items {
  padding: 24px 50px 25px 50px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 45px;
}

.nav__items li:hover {
  opacity: 50%;
  transition: opacity 0.3s ease-in-out;
}

.verticalLine {
  border: 1px solid #f0f0f0;
  height: 100%;
}

.nav__form {
  padding-right: 50px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.nav__form input {
  width: 250px;
}

.icon-search {
  background: url(../svg/seach.svg);
  width: 16px;
  height: 16px;
}

.nav__form input::placeholder {
  color: #a2a2a2;
}

.promo {
  position: relative;
  background: #f8f8f8;
  height: 560px;
}

.promo__swiper {
  height: 100%;
}

.promo__swiper-button-next--position {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 10;
}

.promo__swiper-button-prev--position {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 10;
}

.swiper-slide img {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.promo__backdrop {
  padding-top: 24px;
  height: 100%;
  position: absolute;
  top: 0;
}

.promo__content {
  padding-left: 120px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.promo__button--black {
  width: 200px;
}

.promo__heading {
  font-family: "Prata";
  font-weight: 400;
  font-size: 20px;
}

.promo__heading--Bold {
  font-size: 50px;
  padding-top: 30px;
  display: block;
}

.promo__heading--location {
  padding-bottom: 54px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* content */
main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__heading {
  font-family: "Prata";
  font-weight: 400;
  font-size: 40px;
}

.contentItems {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.contentItems__item {
  cursor: pointer;
  height: 259px;
  background: #f8f8f8;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentItems__img {
  margin: auto;
}

.contentItems__item:hover .contentItems__img {
  transform: scale(105%);
  transition: transform 300ms ease-in-out;
}

.contentItems__heading {
  font-weight: 400;
}

/* товары */
.products {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.products__headingBox {
  display: flex;
  justify-content: space-between;
}

.list-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.products__card {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  margin: auto;
  padding: 40px 55px 26px 55px;
}

.card__images {
  position: relative;
}

.button__sale--location {
  position: absolute;
  top: 16px;
  left: 24px;
  z-index: 1;
}

.icon-favorite--location {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 16px;
}

.icon-eyes {
  background: url(../svg/eyes-normal.svg);
  width: 20px;
  height: 20px;
}

.icon-eyes:hover {
  background: url(../svg/eyes-hover.svg);
  width: 20px;
  height: 20px;
}

.icon-eyes--location {
  position: absolute;
  z-index: 1;
  top: 52px;
  right: 16px;
}

.card__price {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.card__price--location {
  margin-bottom: 16px;
}

.card__price--bold {
  font-weight: 600;
  font-size: 18px;
}

.card__price--strikethrough {
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: line-through;
  color: #8f8f8f;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.hidden {
  display: none;
}

.promo-group {
}

.promo-group__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.promo-group__item {
  position: relative;
  background: #f8f8f8;
  height: 290px;
  cursor: pointer;
}

.promo-group__diamond {
  position: absolute;
  top: 25px;
  left: 0px;
}

.promo-group__img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.promo-group__content {
  position: absolute;
  top: 72px;
  left: 26px;
  right: 172px;
  bottom: 122px;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
}

.promo-group__sale-box {
  position: absolute;
  width: 194px;
  left: 3px;
  top: 190px;
}

.promo-group__sale-box--green {
  background: #43807f;
}

.promo-group__sale-box--orange {
  background: #e24b33;
}

.promo-group__sale-box--gold {
  background: #e1a661;
}

.sale-box__content {
  padding: 7px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #ffffff;
}

.sale-box__content--bold {
  font-size: 36px;
}

.promo-group__item:hover .promo-group__sale-box {
  transform: scale(103%);
  transition: transform 300ms ease-in-out;
}

.daily {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.daily__headingBox {
  display: flex;
  justify-content: space-between;
}

.daily__swiper {
  display: flex;
  gap: 8px;
}

.daily__page {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.daily__imgpart {
  position: relative;
}

.daily__imgButtons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.daily__img {
  position: relative;
  width: 550px;
  height: 550px;
}

.daily__price-data {
  display: flex;
  gap: ;
}

.daily__rating {
  margin-bottom: 25px;
  display: flex;
  gap: 6px;
}

.daily__heading {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.daily__number {
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
  margin-top: 10px;
}

.daily__price-data {
  display: flex;
  gap: 36px;
}

.daily__prices {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.daily__prace {
  font-weight: 600;
  font-size: 20px;
}

.daily__price--strikethrough {
  font-weight: 400;
  font-size: 16px;
  text-decoration: line-through;
  color: #8f8f8f;
}

.timer__box {
  padding: 12px 14px;
  background: #f5f5f5;
  display: flex;
  gap: 9px;
}

.timer__innerBox {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
}

.timer__description {
  font-weight: 300;
  font-size: 11px;
}

.timer__delimetr {
  display: flex;
  align-self: center;
}

.daily__line {
  width: 100%;
  border: 1px solid #f0f0f0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.details__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.details__heading {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.details__colors {
  display: flex;
  gap: 12px;
}

.colors__innerbox--gray {
  background: #d9d9d9;
}

.colors__innerbox--gold {
  background: rgba(241, 203, 126, 1);
}

.colors__innerbox--orange {
  background: rgba(234, 140, 72, 1);
}

.colors__innerbox--green {
  background: rgba(167, 228, 146, 1);
}

.colors:hover {
  border: 1px solid #484848;
}

.details__colors {
  display: flex;
  gap: 8px;
}
.details__colors input {
  display: none;
}

.details__colors label {
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #dadada;
  width: 34px;
  height: 34px;
}
.color--orange {
  background-color: rgba(234, 140, 72, 1);
}

.color--gray {
  background-color: #d9d9d9;
}

.color--green {
  background-color: rgba(167, 228, 146, 1);
}

.color--gold {
  background-color: rgba(241, 203, 126, 1);
}

.details__colors label:hover {
  border: 2px solid #a2a2a2;
}

.details__colors input:checked + label {
  border: 1.5px solid #a2a2a2;
}

.details__sizes {
  display: flex;
  gap: 8px;
}

.details__sizes input {
  display: none;
}

.details__sizes label {
  box-sizing: border-box;
  border: 1px solid #dadada;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase;
}

.details__sizes label:hover {
  border: 1px solid #303030;
}

.details__sizes input:checked + label {
  background-color: #303030;
  color: #f5f5f5;
}

.daily__bye {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.bye__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.bye__icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bye__icon {
  display: flex;
  gap: 8px;
  font-weight: 300;
  font-size: 14px;
}

.icon-share {
  background: url(../svg/share.svg);
  width: 16px;
  height: 18px;
}

.articles {
  margin-bottom: 80px;
}

.articles__items {
  padding-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.article-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 280px;
}

.article__data {
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
}

.article__heading {
  font-weight: 500;
  font-size: 16px;
}
